h1 {
  font-family: sans-serif;
  font-size: xx-large;
  color:#0e2a5e
}

h2{
  color: #0077ff;
}

#profile p strong+span{
  font-style:italic
}

#profile p:nth-child(2) strong{
  color:rgb(255, 0, 0);
}

#profile p:nth-child(4) strong{
  color:yellow;
}

#profile p:nth-child(6) strong{
  color:rgb(153, 255, 0);
}

#profile p:nth-child(8) strong{
  color:rgb(0, 217, 255);
}

#profile p:nth-child(10) strong{
  color:rgb(76, 0, 255);
}

p{
  font-family: sans-serif;
  width: 700px;
  
}

.button {
  background-color: #6928be;
  color: #fff;
  border: none;
  padding: 10px 20px;
  width: 200px;
  text-align: center;
}

.button:hover {
  background-color: #5733da;
}

body {
    background: rgb(161, 161, 190);
    font-family: sans-serif
}